<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nota das disciplinas</title>
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/materialdesignicons.css">
    <link rel="manifest" href="../../manifest.json">

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('../../sw.js')
                .then(function () {
                    console.log('Service registrado');
                })
                .catch(function () {
                    console.log('Service falhou');
                })
        }
    </script>

</head>

<body>

    <nav>
        <div class="nav-wrapper blue lighten-3">
            <a href="#" class="brand-logo center">Disciplinas</a>
        </div>
    </nav>
    <div class="container">
        <ul class="collapsible">
            <% for (let i=0;i < 8;i++) { %>
                <li>
                    <div class="collapsible-header"><i class="mdi mdi-school-outline"></i>
                        <%=dados[i].disciplina %>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li>Nota 1: <%=dados[i].n1 %>
                            </li>
                            <li>Nota 2: <%=dados[i].n2 %>
                            </li>
                            <li>Nota 3: <%=dados[i].n3 %>
                            </li>
                            <li>Nota 4: <%=dados[i].n4 %>
                            </li>
                        </ul>
                        <p>
                            <% let media=(dados[i].n1 + dados[i].n2 + dados[i].n3 + dados[i].n4) / 4 %>
                                <% if (media>=7) { %>
                                    <span style="color: green; text-shadow: 0 0 10px black;">Aprovado😁</span>
                                    <% } else if (media < 7 && media>= 3 ) { %>
                                        <span style="color: yellow; text-shadow: 0 0 10px black;">Recuperação🤔</span>
                                        <%} else { %>
                                            <span style="color: red; text-shadow: 0 0 10px black;">Reprovado😪</span>
                                            <%} %>
                        </p>
                    </div>
                </li>
                <% } %>
        </ul>
    </div>


    <script src="js/materialize.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, {
                accordion: false
            });
        });
    </script>
</body>

</html>